

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="card">
    <div class="card-body">
        <!-- title -->
        <h4 class="card-title">Gestion Classe</h4>
        <h5 class="card-subtitle">List Classes</h5>


            <!-- Autres éléments de votre composant ClasseComponent -->
            <button type="button"  (click)="navigateToPieChart()">Statistique</button>
       

        <!-- Button to open the popup form -->
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-info" (click)="toggleAddPopup()">Ajouter</button>
        </div>
        <button class="btn btn-primary" (click)="trier()">Trier</button>

         <!-- Popup Add -->
         <div *ngIf="isAddPopupOpen" class="modal" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter Classes</h5>
                       
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="parentName">Nom</label>
                            <input type="text" class="form-control" id="parentName" placeholder="Entrez le nom du classe" [(ngModel)]="nom">
                        </div>
                        <div class="form-group">
                            <label for="parentEmail">Etage</label>
                            <input type="email" class="form-control" id="parentEmail" placeholder="Entrez l'email du parent"  [(ngModel)]="etage">
                        </div>
                        <div class="form-group">
                            <label for="parentEmail">Block</label>
                            <input type="email" class="form-control" id="parentEmail" placeholder="Entrez l'email du parent"  [(ngModel)]="block">
                        </div>
           
           
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" (click)=" toggleclosePopup()">Fermer</button>
                        <button type="button" class="btn btn-outline-success" (click)="addClasse() ; refreshPage()">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Update Popup -->
        <div *ngIf="isUpdatePopupOpen" class="modal" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modifier Élève</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="updatedNom">Nom</label>
                            <input type="text" class="form-control" id="updatedNom" placeholder="Nouveau nom" [(ngModel)]="updatedNom">
                        </div>
                        <div class="form-group">
                            <label for="updatedPrenom">Prénom</label>
                            <input type="text" class="form-control" id="updatedEtage" placeholder="Nouveau Etage" [(ngModel)]="updatedEtage">
                        </div>
                        <div class="form-group">
                            <label for="updatedEmail">Email</label>
                            <input type="text" class="form-control" id="updatedBlock" placeholder="Nouvel Block" [(ngModel)]="updatedBlock">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" (click)="toggleclosePopup()">Fermer</button>
                        <button type="button" class="btn btn-outline-success" (click)="updateClasse(ClasseIdToUpdate) ; refreshPage()">Modifier</button>
                    </div>
                </div>
            </div>
        </div>
  
   <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Nom</th>
                        <th class="text-dark font-medium fs-4">etage</th>
                        <th class="text-dark font-medium fs-4">block</th>
                        <th class="text-dark font-medium fs-4">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let classe of listeClasse'>
                        <td>
                            <div class="d-flex align-items-center">
                                <!-- <img [src]=ts.image alt="user" width="45" class="rounded-circle"> -->
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{classe.nom}}</h5>
                                  
                                </div>
                            </div>
                        </td>
                        <td class="fs-4">{{classe.etage}}</td>
                        <td>
                            <span class="p-2 bg- rounded-circle d-inline-block ms-3">{{classe.block}}</span>
                        </td>
                        
                       
                        <td>
                           
                            <button style="background: none; border: none;" (click)="deleteClasse(classe.id)">
                                <i class="fa fa-trash" style="margin-right: 20px;"></i>
                            </button>
                            <button style="background: none; border: none;" (click)="openUpdatePopup(classe)"><i class="fa fa-pencil"></i></button>
                            
                        </td>
                        
                    </tr>              
                </tbody>
            </table>
        </div>
    </div>
</div>