<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="card">
    <div class="card-body">
        <!-- title -->
        <h4 class="card-title">Gestion Activites</h4>
        <h5 class="card-subtitle">Liste des Activites</h5>

        <!-- Button to open the popup form for adding an Activite -->
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-info" (click)="toggleAddPopup()">Ajouter</button>
            <button class="btn btn-outline-info" (click)="toggleStatPopup()">Statistiques</button>
        </div>

        <!-- Popup Add Activite -->
        <div *ngIf="isAddPopupOpen" class="modal" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter Activite</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="activiteNom">Nom de l'Activite</label>
                            <input type="text" class="form-control" id="activiteNom" placeholder="Entrez le nom de l'activite" [(ngModel)]="addActiviteData.nom">
                        </div>
                        <div class="form-group">
                            <label for="activiteDescription">Description</label>
                            <input type="text" class="form-control" id="activiteDescription" placeholder="Entrez la description de l'activite" [(ngModel)]="addActiviteData.description">
                        </div>
                        <div class="form-group">
                            <label for="activiteDateDebut">Date de début</label>
                            <input type="date" class="form-control" id="activiteDateDebut" [(ngModel)]="addActiviteData.dateDebut">
                        </div>
                        <div class="form-group">
                            <label for="activiteDateFin">Date de fin</label>
                            <input type="date" class="form-control" id="activiteDateFin" [(ngModel)]="addActiviteData.dateFin">
                        </div>
                        <div class="form-group">
                            <label for="activiteLieu">Lieu</label>
                            <input type="text" class="form-control" id="activiteLieu" placeholder="Entrez le lieu de l'activite" [(ngModel)]="addActiviteData.lieu">
                        </div>
                        <div class="form-group">
                            <label for="activiteObligatoire">Obligatoire</label>
                            <input type="checkbox" class="form-check-input" id="activiteObligatoire" [(ngModel)]="addActiviteData.obligatoire">
                        </div>
                        <div class="form-group">
                            <label for="activiteProgramme">Programme</label>
                            <select class="form-select" id="activiteProgramme" [(ngModel)]="addActiviteData.programme.id">
                              <option *ngFor="let programme of programmes" [value]="programme.id">{{ programme.nom }}</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" (click)="toggleAddPopup()">Fermer</button>
                        <button type="button" class="btn btn-outline-success" (click)="createActivite(addActiviteData)">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Update Popup (similar structure to Add Popup) -->
        <div *ngIf="isUpdatePopupOpen" class="modal" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modifier Activite</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="updateActiviteNom">Nom de l'Activite</label>
                            <input type="text" class="form-control" id="updateActiviteNom" [(ngModel)]="updateActiviteData.nom">
                        </div>
                        <div class="form-group">
                            <label for="updateActiviteDescription">Description</label>
                            <input type="text" class="form-control" id="updateActiviteDescription" [(ngModel)]="updateActiviteData.description">
                        </div>
                        <div class="form-group">
                            <label for="updateActiviteDateDebut">Date de début</label>
                            <input type="date" class="form-control" id="updateActiviteDateDebut" [(ngModel)]="updateActiviteData.dateDebut">
                        </div>
                        <div class="form-group">
                            <label for="updateActiviteDateFin">Date de fin</label>
                            <input type="date" class="form-control" id="updateActiviteDateFin" [(ngModel)]="updateActiviteData.dateFin">
                        </div>
                        <div class="form-group">
                            <label for="updateActiviteLieu">Lieu</label>
                            <input type="text" class="form-control" id="updateActiviteLieu" [(ngModel)]="updateActiviteData.lieu">
                        </div>
                        <div class="form-group">
                            <label for="updateActiviteObligatoire">Obligatoire</label>
                            <input type="checkbox" class="form-check-input" id="updateActiviteObligatoire" [(ngModel)]="updateActiviteData.obligatoire">
                        </div>
                        <div class="form-group">
                            <label for="activiteProgramme">Programme</label>
                         
                            <select class="form-select" id="activiteProgramme" [(ngModel)]="updateActiviteData.programme.id">
                                <option *ngFor="let programme of programmes" [value]="programme.id">{{ programme.nom }}</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" (click)="toggleUpdatePopup1()">Fermer</button>
                        <button type="button" class="btn btn-outline-success" (click)="updateActivite(updateActiviteData.id, updateActiviteData)">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table for displaying Activites -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Nom</th>
                        <th class="text-dark font-medium fs-4">Description</th>
                        <th class="text-dark font-medium fs-4">Date de début</th>
                        <th class="text-dark font-medium fs-4">Date de fin</th>
                        <th class="text-dark font-medium fs-4">Lieu</th>
                        <th class="text-dark font-medium fs-4">Obligatoire</th>
                        <th class="text-dark font-medium fs-4">Programme </th>

                        <th class="text-dark font-medium fs-4">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let activite of activites">
                        <td>{{ activite.nom }}</td>
                        <td>{{ activite.description }}</td>
                        <td>{{ activite.dateDebut }}</td>
                        <td>{{ activite.dateFin }}</td>
                        <td>{{ activite.lieu }}</td>
                        <td>{{ activite.obligatoire ? 'Oui' : 'Non' }}</td>
                        <td>{{ activite.programme.nom }}</td>
                           <td>
                            <button style="background: none; border: none;" (click)="deleteActivite(activite.id)"><i class="fa fa-trash" style="margin-right: 20px;"></i></button>
                            <button style="background: none; border: none;" (click)="toggleUpdatePopup(activite)"><i class="fa fa-pencil"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
       
        </div> 
        <div *ngIf="isstatpopup" class="modal" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Statistiques :</h5>
                    </div>
                
                    <ul>
                        <li>Durée moyenne d'activité : {{ averageActivityDuration }} secondes</li>
                        <li>Activités moyennes par jour : {{ averageActivitiesPerDay }}</li>
                        <li>Durée maximale d'activité : {{ maximumActivityDuration }} secondes</li>
                        <li>Nombre d'activités : {{ numberOfActivities }}</li>
                      </ul>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" (click)="togglestatPopup()">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
</div>
